@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --branco: #fff;
    --preto: #2F2F2F;
}
body {
    font-family: 'Space Grotesk', sans-serif;
}

.container-cards {
    background: rgba(33, 9, 47, 1);
    width: 100%;
    height: 30vh;
}

.gradiente {
    background: linear-gradient(323deg, rgba(255,131,74,1) 23%, rgba(71,162,255,1) 43%, rgba(213,58,255,1) 77%);
    width: 100%;
    height: 20vh;
    filter: blur(110px);
    opacity: 0.8474;
}

.frente {
    position: relative;
    background: linear-gradient(164deg, #6348FE 4.74%, #610595 88.83%);
    width: 50%;
    border-radius: 0.375rem;
    top: -1rem;
    left: 2rem;
    padding: 1rem;
    color: var(--branco);
    z-index: 1;
    -webkit-box-shadow: 6px 28px 53px 7px rgba(77,77,77,0.49);
    -moz-box-shadow: 6px 28px 53px 7px rgba(77,77,77,0.49);
    box-shadow: 6px 28px 53px 7px rgba(77,77,77,0.49)
}

.gradiente-card {
    background: linear-gradient(323deg, rgba(255,131,74,1) 32%, rgba(71,162,255,1) 59%, rgba(213,58,255,1) 100%);
    filter: blur(40px);
    opacity: 0.8474;
}

.numero-cartao {
    padding-block: 2.31rem 1rem;
}

.info-client {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.08038rem;
    text-transform: uppercase;
    font-size: 0.5625rem;
}

.verso {
    border-radius: 0.375rem;
    background: linear-gradient(169deg, #FFF 5%, #D2D3D9 91.69%);
    width: 58%;
    position: relative;
    top: -15rem;
    left: 6rem;
    padding-block: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.design-element {
    display: none;
}

.black-line {
    background: var(--preto);
    padding: 1rem;
}

.cvc-container {
    background: rgb(176, 176, 176);
    text-align: end;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-block: .3rem;
    border-radius: 3px;
}

.cvc-number {
    letter-spacing: 0.08038rem;
    font-size: 0.5625rem;
    color: var(--branco);
    padding-right: 1rem;
}

.form-user {
    text-transform: uppercase;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 0 2rem;
}

.container-form {
    display: flex;
    flex-direction: column;
}

.form-user label {
    padding-bottom: .4rem;
}

.form-user input {
    margin-bottom: 1rem;
}

#cardholder-name:focus, 
#card-number:focus,
#month:focus,
#year:focus,
#cvc-data:focus {
    outline: none;
    border: 1px solid #6348FE;
}

#cardholder-name, #card-number {
    padding: .5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Light-Grey, #DFDEE0);
}

.msg-error {
    color: #FF5050;
    text-transform: none;
    margin-top: -.7rem;
    margin-bottom: 1rem;
}

.exp-date-and-cvv {
    display: flex;
}

.exp-date-container {
    display: flex;
    flex-direction: column;
}

.inputs-data {
    display: flex;
    gap: .4rem;
}

#month, #year {
    width: 25%;
    border-radius: 0.5rem;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    padding-block: .7rem;
    padding-inline: .3rem;
}

#month::placeholder, #year::placeholder {
    padding-left: .3rem;
}

.cvc-container-data {
    display: flex;
    flex-direction: column;
}

#cvc-data {
    border-radius: 0.5rem;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    padding-block: .7rem;
}

.container-success {
    margin: auto;
    text-align: center;
    display: none;
}

.container-success-title {
    text-transform: uppercase;
    letter-spacing: 0.21388rem;
    font-size: 1.75rem;
    padding-block: 2rem 1rem;
}

#btn-confirm {
    border-radius: 0.5rem;
    background: var(--Deep-Violet, #21092F);
    color: var(--branco);
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 750px) {
    .frente {
        left: 15rem;
    }
    .frente, .verso {
        width: 28%;
    }

    .verso {
        left: 21rem;
    }
}

@media screen and (min-width: 1024px) {
    .frente {
        padding-block: 2.5rem;
    }

    .verso {
        top: -19rem;
        padding-block: 2rem 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .container-cards {
        width: 25%;
        height: 100vh;
    }

    .frente {
        width: 75%;
        left: 10rem;
    }

    .verso {
        width: 85%;
        top: 1rem;
        left: 15rem;
        padding-block: 2rem 2rem;
    }

    .design-element {
        display: block;
        margin: auto;
        padding-top: 1rem;
    }

    .form-user {
        position: absolute;
        width: 30%;
        right: 15rem;
        top: 10rem;
    }

    #cardholder-name, #card-number {
        padding: 1rem;
    } 

    #cvc-data::placeholder {
        padding-left: 1rem;
    }
}